/* 공통 요소 스타일 */
/* 초기화: 모든 요소의 margin/padding 제거 */
* {
    margin: 0;
	padding: 0;
    font-family: Arial, sans-serif;
}
button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}
/* 헤더영역 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.logo { /* 로고 영역 */
    display: flex;
    align-items: center;
}
.header-icon{
	width:150px;
    vertical-align: middle;
}
.user {
    display: flex;
    align-items: center;
    min-width: 80px;
    padding-right: 10px;
}
.user-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}
.user-name {
    margin-left: 8px;
    font-size: 14px;
    color: #444;
    padding-right: 50px;
}
/* 헤더와 푸터 사이영역 */
.container {
    display: flex;
    margin-top: 70px;
    height: calc(100vh - 70px);
}
/* 헤더와 푸터 사이영역-sidebar(홈, 디바이스리스트, 불법주차리스트) */
.sidebar {
    width: 200px;
    background: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
}
.menu {
    list-style-type: none;
    padding: 0;
}
.menu > li {
    margin-bottom: 12px;
}
.menu > li > a {
    display: block;
    padding: 10px;
    background: #fff;
    text-decoration: none;
    color: #000;
    transition: background 0.2s ease;
}
.menu > li:nth-child(1) > a {
    background: #f8f8fa; 
    font-weight: bold;
}
.menu > li > a:hover {
    background: #eee;
}
.menu-icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 8px;
}
/* 헤더와 푸터 사이영역-차트 및 표 */
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}
.content h1 {
    font-size: 22px;
    margin-bottom: 20px;
}
#chart {
    margin: 0 ; 
}

/* 표 스타일 정리 */
table {
    margin: 50px 100px;
    border-collapse: collapse;
    font-size: 14px;
    width: auto;
    background-color: #f9fafd;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

table td {
    padding: 12px 16px;
    text-align: center;
    color: #222;
    border: none;
    white-space: nowrap;
}

table tr:first-child td {
    background-color: #f1f3f7;
    font-weight: 600;
    color: #333;
}

table tr td:first-child {
    background-color: #f1f3f7;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
    color: #333;
}
/* 푸터영역 */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
