<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<Filters>
				<!-- INFO 레벨 이상만 콘솔에 출력 -->
				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
			
			<PatternLayout pattern="%d %5p [%c] %m%n" />
		</Console>
		
		<!-- 파일 로그 저장 (INFO 이상만) -->
		<!-- 개발서버
		 
		<RollingFile name="file" fileName="/usr/share/tomcat9_jdk17/apache-tomcat-9.0.106/logs/application.log"
					 filePattern="/usr/share/tomcat9_jdk17/apache-tomcat-9.0.106/logs/application-%d{yyyy-MM-dd}-%i.log">
		-->
		<!-- 운영서버 -->
		<RollingFile name="file" fileName="/var/lib/tomcat9/logs/application.log"
					 filePattern="/var/lib/tomcat9/logs/application-%d{yyyy-MM-dd}-%i.log">
		
			<Filters>
				<!-- INFO 레벨 이상만 파일에 기록 -->
				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p [%c{1}] %m%n" />
			<Policies>
				<!-- 파일 크기가 10MB를 초과하면 새 파일 생성 -->
				<SizeBasedTriggeringPolicy size="10MB" />
				<!-- 매일 자정에 새 파일 생성 -->
				<TimeBasedTriggeringPolicy />
			</Policies>
			<!-- 로그 파일 삭제 정책 -->
			<DefaultRolloverStrategy max="30">
				<!-- 개발서버
				
				<Delete basePath="/usr/share/tomcat9_jdk17/apache-tomcat-9.0.106/logs" maxDepth="1">
				-->
				<!-- 운영서버 -->
				<Delete basePath="/var/lib/tomcat9/logs" maxDepth="1">
				
					<!-- 7일 이상 된 로그 파일 삭제 -->
					<IfFileName glob="application-*.log" />
					<IfLastModified age="7d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<Loggers>
			<Logger name="java.sql" level="DEBUG" additivity="false">
				<AppenderRef ref="console" />
			</Logger>
			<Logger name="egovframework" level="DEBUG" additivity="false">
				<AppenderRef ref="console" />
			</Logger>
			<Logger name="org.springframework" level="DEBUG" additivity="false">
				<AppenderRef ref="console" />
			</Logger>
			<Logger name="com.disabled" level="DEBUG" additivity="false">
				<AppenderRef ref="console" />
				<AppenderRef ref="file" />
			</Logger>
			<Root level="DEBUG">
				<AppenderRef ref="console" />
				<AppenderRef ref="file" />
			</Root>
		</Loggers>
	</Appenders>
</Configuration>