<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 장비 리스트 화면 SQL -->
<mapper namespace="com.disabled.mapper.DeviceListMapper">
	
	<!-- 디바이스 정보 -->
	<select id="getDeviceInfo" parameterType="map" resultType="map">
		SELECT ROW_NUMBER() OVER (
			ORDER BY 
			<choose>
            	<when test="sortCol == 'dv_name'">dv_name</when>
            	<when test="sortCol == 'dv_addr'">dv_addr</when>
            	<when test="sortCol == 'dv_reg_date'">dv_reg_date</when>
            	<otherwise>dv_name</otherwise>
			</choose>
			<choose>
  				<when test="sortDir == 'ASC'">ASC</when>
  				<otherwise>DESC</otherwise>
			</choose>	
			) AS rn 
			, dv_id, dv_name, dv_addr, dv_addr_detail, dv_serial_number, dv_status, dv_reg_date
		FROM tbl_device
		WHERE 
			1=1
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND dv_reg_date <![CDATA[>=]]> STR_TO_DATE(#{startDate},'%Y-%m-%d') 
				AND dv_reg_date <![CDATA[<]]> DATE_ADD(STR_TO_DATE(#{endDate},'%Y-%m-%d'),INTERVAL 1 DAY)
			</if>
	        <if test="searchKeyword != null and searchKeyword !=''">
		        AND (
		            dv_name LIKE CONCAT(
		                '%',
		                REPLACE(#{searchKeyword}, '_', '\\_'),
		                '%'
		            ) ESCAPE '\\'
		            OR 
		            dv_addr LIKE CONCAT(
		                '%',
		                REPLACE(#{searchKeyword}, '_', '\\_'),
		                '%'
		            ) ESCAPE '\\'
		        )
	        </if>	
        <if test="recordCountPerPage != null">
        	LIMIT #{recordCountPerPage} 
        </if>
        <if test="firstIndex != null">
        	OFFSET #{firstIndex}
        </if>
        	
	</select>
	
	<!-- 선택한 디바이스의 ip값에 따른 ip값  -->
	<select id="getDvIpByDvId" parameterType="int" resultType="String">
		SELECT dv_ip
		FROM tbl_device
		WHERE dv_id = #{dvId}	
	</select>
	
	<!-- 검색 조건에 따른 전체 record 수 -->
	<select id="getTotalRecordCount" resultType="int">
		SELECT COUNT(1)
		FROM tbl_device
		WHERE 
			1=1
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND dv_reg_date <![CDATA[>=]]> STR_TO_DATE(#{startDate},'%Y-%m-%d') 
				AND dv_reg_date <![CDATA[<]]> DATE_ADD(STR_TO_DATE(#{endDate},'%Y-%m-%d'), INTERVAL 1 DAY)
			</if>
	        <if test="searchKeyword != null and searchKeyword !=''">
		        AND (
		            dv_name LIKE CONCAT(
		                '%',
		                REPLACE(#{searchKeyword}, '_', '\\_'),
		                '%'
		            ) ESCAPE '\\'
		            OR 
		            dv_addr LIKE CONCAT(
		                '%',
		                REPLACE(#{searchKeyword}, '_', '\\_'),
		                '%'
		            ) ESCAPE '\\'
		        )
	        </if>
	</select>
	
	<!-- 디바이스 등록 -->
	<insert id="insertDeviceInfo">
		INSERT INTO tbl_device(
			dv_org_id
			, dv_name
			, dv_addr
			, dv_addr_detail
			, dv_ip
			, dv_status
			, dv_reg_user
			, dv_mod_user
			, dv_reg_date
			, dv_mod_date
			, dv_serial_number
			, dv_lat
			, dv_lng
		)
		VALUES(
			1
			, #{dvName}
			, #{dvAddr}
			, #{dvAddrDetail}
			, #{dvIp}
			, #{dvStatus}
			, 1
			, 1
			, NOW()
			, NOW()
			, #{dvSerialNumber}
			, #{dvLat}
			, #{dvLng}
		)
	</insert>
	
	<!-- 디바이스 수정 -->
	<update id="updateDeviceInfo">
		UPDATE tbl_device
		SET
			dv_name = #{dvName}
			, dv_addr = #{dvAddr}
			, dv_addr_detail = #{dvAddrDetail}
			, dv_ip = #{dvIp}
			, dv_status = #{dvStatus}
			, dv_mod_user = 1
			, dv_mod_date = NOW()
			, dv_serial_number = #{dvSerialNumber}
			, dv_lat = #{dvLat}
			, dv_lng = #{dvLng}
		WHERE dv_id = #{dvId}
	
	</update>
	
	<!-- 디바이스 1건 삭제 -->
	<delete id="deleteDeviceInfo">
		DELETE FROM tbl_device
		WHERE dv_id = #{dvId}
	</delete>
	
	<!-- 디바이스 1개 정보 -->
	<select id="getOneDeviceInfo" resultType="map">
		SELECT dv_name, dv_addr, dv_addr_detail, dv_ip, dv_serial_number, dv_lat, dv_lng
		FROM tbl_device
		WHERE dv_id = #{dvId}
	</select>
	
		<!-- 디바이스명과 주소로 같은 디바이스 존재하는지 조회  -->
	<select id="getDeviceCountDvNameAndAddr" parameterType="map" resultType="int">
		SELECT COUNT(1)
		FROM tbl_device
		WHERE dv_name = #{dvName}
		AND dv_addr = #{dvAddr}
		<if test="dvId != null">
			AND dv_id != #{dvId}
		</if>
	</select>
	
	<!-- 모든 디바이스 ip 조회  -->
	<select id="getAllDvIp" resultType="String">
		SELECT DISTINCT dv_ip
		FROM tbl_device
	</select>

	<!-- (작업계획서 04) 디바이스 상태 5종 + 갱신시각 (AJAX 폴링용). display 는 DB v0.0.7 미존재로 제외 -->
	<select id="getStatusList" resultType="map">
		SELECT
			dv_id, dv_name, dv_serial_number,
			dv_status_pc, dv_status_cctv, dv_lens,
			dv_status_speaker, dv_status_sip,
			dv_status_updated
		FROM tbl_device
		ORDER BY dv_id
	</select>
	
	<!-- 디바이스 IP별 상태값 수정 -->
	<update id="updateDeviceStatus">
		UPDATE tbl_device
		SET dv_status = #{dvStatus}
			, dv_mod_date = NOW()
		WHERE dv_ip = #{dvIp}	
	
	</update>

</mapper>