<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 불법주차 리스트 화면 SQL문 -->
<mapper namespace="com.disabled.mapper.EventListMapper">

	<!-- 검색조건에 따른 이벤트 리스트 -->
	<select id="getEventList" parameterType="map" resultType="map">
		SELECT ROW_NUMBER() OVER (
			ORDER BY 
			<choose>
            	<when test="sortCol == 'ev_date'">ev_date</when>
            	<when test="sortCol == 'ev_cd'">ev_cd</when>
            	<when test="sortCol == 'ev_dv_name'">dv_name</when>
            	<when test="sortCol == 'ev_dv_addr'">dv_addr</when>
            	<when test="sortCol == 'ev_car_num'">ev_car_num</when>
            	<otherwise>ev_date</otherwise>
			</choose>
			<choose>
  				<when test="sortDir == 'ASC'">ASC</when>
  				<otherwise>DESC</otherwise>
			</choose>	
			, ev_id DESC
			) AS rn 
			, A.ev_date
			, A.ev_dv_name
			, A.ev_dv_addr
			, A.ev_car_num
			, A.ev_cd
			, A.ev_serial_number
			, A.ev_dv_ip
			, B.dv_id			
			, B.dv_addr
			, B.dv_name
		FROM tbl_event_data A
		LEFT JOIN tbl_device B
		ON A.ev_dv_id = B.dv_id

		where 1=1
		<if test="searchKeyword != null and searchKeyword != ''">
			AND ( A.ev_car_num like CONCAT('%',#{searchKeyword},'%')
			OR B.dv_addr like CONCAT('%',#{searchKeyword},'%')
			OR B.dv_name like CONCAT('%',#{searchKeyword},'%'))
		</if>
		<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
			<!-- patches 13: ev_date 는 yyyyMMddHHmmss(14) 라 raw BETWEEN 시 같은 날 검색이 시간 때문에 제외됨 → 날짜부(8자리)로 비교 -->
			AND LEFT(A.ev_date, 8) BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="evCd != null and evCd != ''">
			AND A.ev_cd = #{evCd}
		</if>
		<if test="evAction != null">
			AND A.ev_action = #{evAction}
		</if>
        <if test="recordCountPerPage != null">
        	LIMIT #{recordCountPerPage}
        </if>
        <if test="firstIndex != null">
        	OFFSET #{firstIndex}
        </if>
        
	</select>
	
	<!-- 검색조건에 따른 페이징 기능을 위한 레코드 갯수 -->
	<select id="getTotalRecordCount" parameterType="map" resultType="int">
		SELECT COUNT(*) 
		FROM tbl_event_data A
		LEFT JOIN tbl_device B
		ON A.ev_dv_id = B.dv_id
		<where>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND ( A.ev_car_num like CONCAT('%',#{searchKeyword},'%')
				OR B.dv_addr like CONCAT('%',#{searchKeyword},'%')
				OR B.dv_name like CONCAT('%',#{searchKeyword},'%'))
			</if>
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				<!-- patches 13: 날짜부(8자리)로 비교 (getEventList 와 동일 기준) -->
				AND LEFT(A.ev_date, 8) BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="evCd != null and evCd != ''">
				AND A.ev_cd = #{evCd}
			</if>
			<if test="evAction != null">
				AND A.ev_action = #{evAction}
			</if>
		</where>
	</select>
	
	<!-- 리스트 클릭시 이벤트 리스트 상세 정보 -->
	<select id="getEventListDetail"  parameterType="int" resultType="map">
		SELECT A.*
			, CONCAT(B.dv_addr,B.dv_name) AS dv_addr
		FROM tbl_event_data A
		LEFT JOIN tbl_device B
		ON A.ev_dv_id = B.dv_id
		<where>
			A.ev_id = #{evId}
		</where>
	</select>
	
	<select id="getDvIpByEvId" parameterType="int" resultType="java.lang.String">
		SELECT B.dv_ip AS dvIp
		FROM tbl_event_data A
		LEFT JOIN tbl_device B
		ON A.ev_dv_id = B.dv_id
		WHERE A.ev_id = #{evId}
	</select>
	
	<update id="updateEvHasImgOne" parameterType="int">
		UPDATE tbl_event_data
		SET ev_has_img = 1
		WHERE ev_id = #{evId}
	</update>
	
	<update id="updateEvHasMovOne" parameterType="int">
		UPDATE tbl_event_data
		SET ev_has_mov = 1
		WHERE ev_id = #{evId} 
	</update>

</mapper>