<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 로그인, 회원가입 기능의 SQL 문이 작성된 -->
<mapper namespace="com.disabled.mapper.LoginMapper">
	
	<!-- id와 pw값을 비교하여 둘 다 같은 경우, 해당 column의 수를 리턴 -->
	<select id="cntUsrByIdAndPwd" parameterType="map" resultType="map">
		SELECT u_id, u_pwd_changed 
		FROM tbl_user
		WHERE 1=1 
			AND u_login_id = #{id}
			AND u_login_pwd = #{pwd}		
	</select>
	
	<!-- 최초 사용자 로그인시 비밀번호 변경 -->
	<update id="updateNewPwd">
		UPDATE tbl_user
		SET	
			u_login_pwd = #{encryptPwd}
			, u_pwd_changed = 1
		WHERE u_id = #{uId}	
	
	</update>
	
	<!-- 기존 비밀번호 가져오기 -->
		<select id="getPwd" resultType="string">
		SELECT u_login_pwd
		FROM tbl_user
		WHERE u_id = #{uId}	
	</select>

</mapper>