<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="all">
	<resultMap type="com.minwon.vo.ComplaintVO" id="complaintMap">
		<id property="cId" column="c_id" />
		<result property="uId" column="u_id" />
		<result property="dpId" column="dp_id" />
		<result property="dpName" column="dp_name" />
		<result property="dpId01" column="dp_id_01" />
		<result property="dpName01" column="dp_name_01" />
		<result property="dpId02" column="dp_id_02" />
		<result property="dpName02" column="dp_name_02" />
		<result property="dpId03" column="dp_id_03" />
		<result property="dpName03" column="dp_name_03" />
		<result property="dpId04" column="dp_id_04" />
		<result property="dpName04" column="dp_name_04" />
		<result property="dpId05" column="dp_id_05" />
		<result property="dpId06" column="dp_id_06" />
		<result property="cTitle" column="c_title" />
		<result property="cWriteDate" column="c_writedate" />
		<result property="cWriteDateCount" column="c_writedate_count" />
		<result property="cAddress" column="c_address" />
		<result property="cDistrict" column="c_district" />
		<result property="cPetitioner" column="c_petitioner" />
		<result property="cPetitionerPhone" column="c_petitioner_phone" />
		<result property="cPetitionerAddress" column="c_petitioner_address" />
		<result property="cPetitionerSpecific" column="c_petitioner_specific" />
		<result property="cReceiptDate" column="c_receipt_date" />
		<result property="cReceiptWay" column="c_receipt_way" />
		<result property="cRaiseDate" column="c_raise_date" />
		<result property="cRaiseCount" column="c_raise_count" />
		<result property="cDepartment" column="c_department" />
		<result property="cOfficer01" column="c_officer1" />
		<result property="cOfficer02" column="c_officer2" />
		<result property="cOfficer03" column="c_officer3" />
		<result property="cKeyPoint" column="c_keypoint" />
		<result property="cContent" column="c_content" />
		<result property="cPlan" column="c_plan" />
		<result property="cComplete" column="c_complete" />
		<result property="cDeadline" column="c_deadline" />
		<result property="cNotificated"  column="c_notificated" />
		<result property="cSatisfiction" column="c_satisfiction" />
		<result property="cClient" column="c_client" />
		<result property="cReference" column="c_reference" />
		<result property="cCount" column="c_count" />
		<result property="cReplyCount" column="c_reply_count" />
		<result property="cSeparationType" column="c_separation_type" />
		<result property="cProcessClass" column="c_process_class" />
		<collection property="replies" resultMap="complaintReplyMap" />
	</resultMap>
	
	<resultMap type="com.minwon.vo.ComplaintSettleVO" id="complaintSettleMap">
		<result property="cId" column="c_id" />
		<result property="uId" column="u_id" />
		<result property="dpName" column="dp_name" />
		<result property="psName" column="ps_name" />
		<result property="uName" column="u_name" />
		<result property="csDate" column="cs_date" />
		<result property="csContent" column="cs_content" />
	</resultMap>
	
	<resultMap type="com.minwon.vo.ComplaintImageVO" id="complaintImageMap">
		<result property="cId" column="c_id" />
		<result property="uId" column="u_id" />
		<result property="dpName" column="dp_name" />
		<result property="psName" column="ps_name" />
		<result property="uName" column="u_name" />
		<result property="ciDate" column="ci_date" />
		<result property="ciContent" column="ci_content" />
		<result property="ciImage" column="ci_image" />
	</resultMap>
	
	<resultMap type="com.minwon.vo.ComplaintFileVO" id="complaintFileMap">
		<result property="cId" column="c_id" />
		<result property="uId" column="u_id" />
		<result property="uName" column="u_name" />
		<result property="cfFileLogic" column="cf_file_logic" />
		<result property="cfContent" column="cf_content" />
	</resultMap>
	
	<resultMap type="com.minwon.vo.ComplaintReplyVO" id="complaintReplyMap">
		<result property="cId" column="c_id" />
		<result property="uId" column="u_id" />
		<result property="dpName" column="dp_name" />
		<result property="psName" column="ps_name" />
		<result property="uName" column="u_name" />
		<result property="crDate" column="cr_date" />
		<result property="crContent" column="cr_content" />
		<result property="cTitle" column="c_title" />
		<result property="cNotificated" column="c_notificated" />
	</resultMap>
	
	<select id="viewAllSearchComplaint" resultMap="complaintMap">
		SELECT c_id, c_writedate_count, c_district, c_petitioner, c_title, dp_name_01, dp_name_02, dp_name_03, dp_name_04, c_notificated
		FROM complaint 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND c_notificated in (2, 9)
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND c_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
			    AND c_content like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='petitioner' and keyword != null and keyword != '' ">
				AND c_petitioner like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='officer' and keyword != null and keyword != '' ">
				AND c_officer3 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='serial' and keyword != null and keyword != '' ">
				AND c_writedate_count like CONCAT('%', #{keyword}, '%') 
			</if>	
			<if test="searchType=='district' and keyword != null and keyword != '' ">
				AND c_district like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='department' and keyword != null and keyword != '' ">
				AND dp_name like CONCAT('%', #{keyword}, '%') 
				AND dp_name_01 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_02 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_03 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_04 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='type' and keyword != null and keyword != '' ">
				AND c_separation_type like CONCAT('%', #{keyword}, '%') 
			</if>
		</trim> 
		ORDER BY c_id DESC
        LIMIT #{startList}, #{listSize}
	</select>
	
	<select id="viewAllSearchComplaintCnt" resultType="Integer">
		SELECT count(*)
		FROM complaint 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND c_notificated in (2, 9)
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND c_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
			    AND c_content like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='petitioner' and keyword != null and keyword != '' ">
				AND c_petitioner like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='officer' and keyword != null and keyword != '' ">
				AND c_officer3 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='serial' and keyword != null and keyword != '' ">
				AND c_writedate_count like CONCAT('%', #{keyword}, '%') 
			</if>	
			<if test="searchType=='district' and keyword != null and keyword != '' ">
				AND c_district like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='department' and keyword != null and keyword != '' ">
				AND dp_name like CONCAT('%', #{keyword}, '%') 
				AND dp_name_01 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_02 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_03 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_04 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='type' and keyword != null and keyword != '' ">
				AND c_separation_type like CONCAT('%', #{keyword}, '%') 
			</if>
		</trim> 
	</select>
	
	<select id="allSearchComplaintCnt" resultType="Integer">
		SELECT count(*)
		FROM complaint 
		WHERE c_notificated in (2, 9)
	</select>
	
	
	<select id="viewSearchComplaint" resultMap="complaintMap">
		SELECT c_id, c_writedate_count, c_district, c_petitioner, c_title, dp_name_01, dp_name_02, dp_name_03, dp_name_04
		FROM complaint 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND c_notificated=2
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND c_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
			    AND c_content like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='petitioner' and keyword != null and keyword != '' ">
				AND c_petitioner like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='officer' and keyword != null and keyword != '' ">
				AND c_officer3 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='serial' and keyword != null and keyword != '' ">
				AND c_writedate_count like CONCAT('%', #{keyword}, '%') 
			</if>	
			<if test="searchType=='district' and keyword != null and keyword != '' ">
				AND c_district like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='department' and keyword != null and keyword != '' ">
				AND dp_name like CONCAT('%', #{keyword}, '%') 
				AND dp_name_01 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_02 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_03 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_04 like CONCAT('%', #{keyword}, '%') 
			</if>
		</trim> 
		ORDER BY c_id DESC
        LIMIT #{startList}, #{listSize}
	</select>
	
	<select id="viewSearchComplaintCnt" resultType="Integer">
		SELECT count(*)
		FROM complaint 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND c_notificated in (2, 9)
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND c_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
			    AND c_content like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='petitioner' and keyword != null and keyword != '' ">
				AND c_petitioner like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='officer' and keyword != null and keyword != '' ">
				AND c_officer3 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='serial' and keyword != null and keyword != '' ">
				AND c_writedate_count like CONCAT('%', #{keyword}, '%') 
			</if>	
			<if test="searchType=='district' and keyword != null and keyword != '' ">
				AND c_district like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='department' and keyword != null and keyword != '' ">
				AND dp_name like CONCAT('%', #{keyword}, '%') 
				AND dp_name_01 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_02 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_03 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_04 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='separation' and keyword != null and keyword != '' ">
				AND c_separation_type like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='process' and keyword != null and keyword != '' ">
				AND c_process_class like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="startDate != null and startDate != ''">
				<![CDATA[
				AND c_receipt_date >= #{startDate}
				]]>
			</if>
			<if test="endDate != null and endDate != ''">
				<![CDATA[
				AND c_receipt_date < DATE_ADD(#{endDate}, INTERVAL 1 DAY)
				]]>
			</if>
		</trim> 
	</select>
	
	<select id="SearchComplaintCnt" resultType="Integer">
		SELECT count(*)
		FROM complaint 
		WHERE c_notificated in (2, 9)
	</select>
	
	<select id="viewSearchCompleteComplaint" resultMap="complaintMap">
		SELECT c_id, c_writedate_count, c_district, c_petitioner, c_title, dp_name_01, dp_name_02, dp_name_03, dp_name_04
		FROM complaint 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND c_notificated=9
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND c_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
			    AND c_content like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='petitioner' and keyword != null and keyword != '' ">
				AND c_petitioner like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='officer' and keyword != null and keyword != '' ">
				AND c_officer3 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='serial' and keyword != null and keyword != '' ">
				AND c_writedate_count like CONCAT('%', #{keyword}, '%') 
			</if>	
			<if test="searchType=='district' and keyword != null and keyword != '' ">
				AND c_district like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='department' and keyword != null and keyword != '' ">
				AND dp_name like CONCAT('%', #{keyword}, '%') 
				AND dp_name_01 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_02 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_03 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_04 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='separation' and keyword != null and keyword != '' ">
				AND c_separation_type like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='process' and keyword != null and keyword != '' ">
				AND c_process_class like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="startDate != null and startDate != ''">
				<![CDATA[
				AND c_receipt_date >= #{startDate}
				]]>
			</if>
			<if test="endDate != null and endDate != ''">
				<![CDATA[
				AND c_receipt_date < DATE_ADD(#{endDate}, INTERVAL 1 DAY)
				]]>
			</if>
		</trim> 
		ORDER BY c_id DESC
        LIMIT #{startList}, #{listSize}
	</select>
	
	<select id="SearchCompletedComplaintCnt" resultType="Integer">
		SELECT count(*)
		FROM complaint 
		WHERE c_notificated=9
	</select>
	
	<select id="viewSearchCompleteComplaintCnt" resultType="Integer">
		SELECT count(*)
		FROM complaint 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND c_notificated=9
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND c_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
			    AND c_content like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='petitioner' and keyword != null and keyword != '' ">
				AND c_petitioner like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='officer' and keyword != null and keyword != '' ">
				AND c_officer3 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='serial' and keyword != null and keyword != '' ">
				AND c_writedate_count like CONCAT('%', #{keyword}, '%') 
			</if>	
			<if test="searchType=='district' and keyword != null and keyword != '' ">
				AND c_district like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='department' and keyword != null and keyword != '' ">
				AND dp_name like CONCAT('%', #{keyword}, '%') 
				AND dp_name_01 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_02 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_03 like CONCAT('%', #{keyword}, '%') 
				AND dp_name_04 like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='separation' and keyword != null and keyword != '' ">
				AND c_separation_type like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='process' and keyword != null and keyword != '' ">
				AND c_process_class like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="startDate != null and startDate != ''">
				<![CDATA[
				AND c_receipt_date >= #{startDate}
				]]>
			</if>
			<if test="endDate != null and endDate != ''">
				<![CDATA[
				AND c_receipt_date < DATE_ADD(#{endDate}, INTERVAL 1 DAY)
				]]>
			</if>
		</trim> 
	</select>
	
	<select id="viewAllComplaintReplies" resultMap="complaintReplyMap">
		SELECT *
		FROM complaint
		INNER JOIN complaint_reply
		ON complaint.c_id = complaint_reply.c_id
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND complaint.c_id IN (SELECT c_id FROM complaint WHERE c_notificated IN (2, 9))
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND complaint.c_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
			    AND cr_content like CONCAT('%', #{keyword}, '%') 
			</if>
		</trim> 
		ORDER BY cr_id DESC
        LIMIT #{startList}, #{listSize}
	</select>
	
	<select id="viewAllComplaintRepliesCnt" resultType="Integer">
		SELECT count(*)
		FROM complaint
		INNER JOIN complaint_reply
		ON complaint.c_id = complaint_reply.c_id
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			AND complaint.c_id IN (SELECT c_id FROM complaint WHERE c_notificated IN (2, 9))
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND complaint.c_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
			    AND cr_content like CONCAT('%', #{keyword}, '%') 
			</if>
		</trim> 
	</select>
	
	<select id="viewRecentCompletedReplies" resultMap="complaintMap">
		SELECT complaint.c_id, complaint.c_department, complaint.c_writedate, complaint_reply.cr_content, complaint_reply.cr_date
		FROM complaint
		INNER JOIN complaint_reply
		ON complaint.c_id = complaint_reply.c_id
		WHERE complaint.c_id IN (SELECT c_id FROM complaint WHERE c_notificated = 9)
		ORDER BY complaint_reply.cr_id DESC
        LIMIT 5
	</select>
	
	<select id="viewRecentNotCompletedReplies" resultMap="complaintMap">
		SELECT complaint.c_id, complaint.c_department, complaint.c_writedate, complaint_reply.cr_content, complaint_reply.cr_date
		FROM complaint
		INNER JOIN complaint_reply
		ON complaint.c_id = complaint_reply.c_id
		WHERE complaint.c_id IN (SELECT c_id FROM complaint WHERE c_notificated = 2)
		ORDER BY complaint_reply.cr_id DESC
        LIMIT 5
	</select>
	
	<select id="viewRecentNonCompletedComplaints" resultMap="complaintMap">
		SELECT c_id, c_department, c_writedate, c_writedate_count, c_district, c_petitioner, c_title, dp_name_01, dp_name_02, dp_name_03, dp_name_04
		FROM complaint 
		WHERE c_notificated = 2
		ORDER BY c_id DESC
        LIMIT 5
	</select>
	
	<select id="viewRecentCompletedComplaints" resultMap="complaintMap">
		SELECT c_id, c_department, c_writedate, c_writedate_count, c_district, c_petitioner, c_title, dp_name_01, dp_name_02, dp_name_03, dp_name_04
		FROM complaint 
		WHERE c_notificated = 9
		ORDER BY c_id DESC
        LIMIT 5
	</select>
	
	<select id="chargeOfComplaintsCount" resultType="Integer">
		SELECT count(*)
		FROM complaint 
		WHERE c_notificated IN (2, 9)
	</select>
	
	<select id="relatedComplaintsCount" resultType="Integer">
		SELECT count(*)
		FROM complaint 
		WHERE c_notificated IN (2, 9)
	</select>
	
	<select id="todayComplaintsCount" resultType="Integer">
		SELECT count(*)
		FROM complaint 
		WHERE c_notificated IN (2, 9)
		AND c_writedate=curdate()
	</select>
	
	<select id="getGroupedDistrict" resultType="map">
		SELECT c_district, c_notificated, count(*) as cdcount
		FROM complaint
		WHERE c_notificated in (2, 9)
		GROUP BY c_district, c_notificated
	</select>
	
	<select id="getGroupedSeparationType" resultType="map">
		SELECT c_separation_type, c_notificated, count(*) as cstcount
		FROM complaint
		WHERE c_notificated in (2, 9)
		GROUP BY c_separation_type, c_notificated
	</select>
</mapper>