<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
	<select id="getAllList" resultType="com.minwon.vo.NoticeVO">
		SELECT * FROM notice
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND n_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
			    AND n_content like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='writer' and keyword != null and keyword != '' ">
			    AND u_name like CONCAT('%', #{keyword}, '%') 
			</if>
		</trim>
		order by n_id desc;
	</select>
	
	<select id="getAllListCnt" parameterType="com.minwon.vo.SearchVO" resultType="int">
		SELECT count(*)
		FROM notice 
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='title' and keyword != null and keyword != '' ">
				AND n_title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='content' and keyword != null and keyword != '' ">
			    AND n_content like CONCAT('%', #{keyword}, '%') 
			</if>
			<if test="searchType=='writer' and keyword != null and keyword != '' ">
			    AND u_name like CONCAT('%', #{keyword}, '%') 
			</if>
		</trim>
	</select>
	
	<select id="getRecentList" resultType="com.minwon.vo.NoticeVO">
		SELECT * FROM notice 
		WHERE n_importance = 1
	</select>
	
	<insert id="insertNotice" parameterType="com.minwon.vo.NoticeVO">
		INSERT INTO notice (n_title, n_content, dp_id, dp_name, u_id, u_name, n_writedate, n_count, n_importance)
		VALUES (#{n_title}, #{n_content}, #{dp_id}, #{dp_name}, #{u_id}, #{u_name}, now(), 0, #{n_importance})
	</insert>
	
	<insert id="insertNoticeFile" parameterType="com.minwon.vo.NoticeFileVO">
		INSERT INTO notice_file (n_id, u_id, nf_file_name)
		VALUES ((SELECT AUTO_INCREMENT-1 FROM information_schema.TABLES WHERE TABLE_SCHEMA = "minwon" AND TABLE_NAME = "notice"), #{u_id}, #{nf_file_name})
	</insert>
	
	<update id="updateNotice" parameterType="com.minwon.vo.NoticeVO">
		UPDATE notice SET n_title=#{n_title}, n_content=#{n_content}, n_importance=#{n_importance}
		WHERE n_id=#{n_id}
	</update>
	
	<select id="getNotice" parameterType="Integer" resultType="com.minwon.vo.NoticeVO">
		SELECT * FROM notice
		WHERE n_id=#{noticeId}
	</select>
	
	<select id="getNoticeFiles" parameterType="Integer" resultType="com.minwon.vo.NoticeFileVO">
		SELECT * FROM notice_file
		WHERE n_id=#{noticeId}
	</select>
	
	<delete id="deleteNoticeFiles" parameterType="int">
		DELETE FROM notice_file
		WHERE n_id=#{n_id}
	</delete>
	
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM notice
		WHERE n_id=#{n_id}
	</delete>
	
	<update id="countUp">
		UPDATE notice SET n_count = n_count + 1
		WHERE n_id=#{noticeId}
	</update>
</mapper>