/* 폰트 설정  */
/* @import url(../font/NotoSansKR-Bold.otf);
@import url(../font/NotoSansKR-Medium.otf);
@import url(../font/NotoSansKR-Regular.otf); */

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../font/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../font/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../font/NotoSansKR-Bold.otf) format("opentype");
}

/* 기본설정 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  font-weight: normal;
}
a,
a:active {
  text-decoration-line: none;
}
input,
textarea,
p,
span {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
h5 {
  font-size: 16px;
  font-weight: 700;
}
.bold {
  font-weight: 500;
}
.bolder {
  font-weight: 700;
}
.wrapper {
  padding: 2rem 0;
}
input,
textarea,
.form-control {
  border-radius: 0;
}
/* 해더&네비 */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}
.nav-item {
  position: relative;
}
.sub-wrap{
  display: none;
        height: 220px;
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: 1px solid #dee2e6;
}
.sub-wrap,
.sub {
  position: absolute;
  width: 100%;
  background-color: #fff;
  display: none;
}
.sub{
  z-index: 1;
  margin-top: 20px;
}
.sub .dropdown-item {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin: 0 15px;
  padding: 20px 10px;
}
.sub .dropdown-item:hover{
  color: #0066b3;
}
.sub .dropdown-item:active{
  color: #fff;
  background-color: #0066b3;
}

.navbar {
  padding: 0;
}
#navbars{
  display: none !important;
}
.navbar-expand-lg .navbar-nav .nav-link{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 0 15px;
  padding: 20px 26px;
  text-align: center;

}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #0066b3;
}


.dropdown-toggle::after {
  display: none;
}

/* 버튼 스타일 */

.search-btn{
border: 1px solid #808080;
color: #808080;
padding-right:90px ;
margin-right: 15px;
}
.button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}
.btn + .btn {
  margin-left: 15px;
}
.btn {
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
}
.btn-bule-outline {
  border: 1px solid #0066b3;
  background-color: transparent;
  color: #0066b3;
}
.btn-bule-outline.on,
.btn-bule-outline:hover {
  background-color: #0066b3;
  border: 1px solid #0066b3;
  color: #fff;
}

.btn-bule {
  background-color: #0066b3;
  border: 1px solid #0066b3;
  color: #fff;
}
.btn-secondary.active .btn-bule.active,
.btn-bule:hover {
  background-color: #055089;
  border: 1px solid #055089;
  color: #fff;
}
.date-picker-wapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}
.date-picker-wapper input {
  width: 40%;
}
/* 로그인 */
.login-page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.login-form {
  max-width: 900px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.login-form > img {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}
/* 회원가입 */
.input-form-backgroud {
  min-width: 500px;
  max-width: 1200px;
  margin: auto;
}

/* 메인 */
.main-page{
  min-height: 80vh;
}

/* 메인 메뉴 카드 */
.summary {
  text-align: center;
  margin: 20px 15px 30px 15px;
}
.summary > div {
  padding: 30px 0 20px;
  position: relative;
  border: 1px solid #eff7fc;
}
.summary p {
  position: absolute;
  padding: 0 20px;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  line-height: 28px;
  background-color:#227a9f; 
  border-radius: 12px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.summary-item.progressing p {
  background-color: #009e9d;
}

.summary-item.charge p {
  background-color: #a14ba6;
}
.summary-item.relation p {
  background-color: #5550bf;
}
.summary-item.temporare p {
  background-color: #c2922a;
}
.summary-item.today p {
  background-color: #0066b3;
}

/* 표 */
.completion{
	background-color: #0066b3;
color: #fff;
}
.processing{background-color: #239f9e;
color: #fff;}
.card-deck .card {
  border-radius: 0;
  border: 0;
  margin-right: 30px;
  margin-left: 30px;
}

.card-header:first-child {
  border-radius: 0;
}
.card-header {
  padding: 0;
  background-color: transparent;
}
.card-header > span h5 {
  margin-bottom: 0;
  padding: 8px 0;
}
.card-header > span::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #0066b3;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.more-icon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #333;
}
.more-icon:hover {
  color: #333;
}
.card-body {
  padding: 0;
}
.card-body .list-group:first-child {
  padding-top: 10px;
  border-top: 0;
}

.point {
  color: #0066b3;
  width: 100px;
  font-weight: 500;
}
.list-group-item {
  padding: 7px 0;
}
.list-group-flush > .list-group-item {
  border: 0;
}

/* 데이터 없을때 */

.no-data {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nodata-text {
  color: #808080;
  padding: 1rem 0;
}

/* 테이블 */
.mobile-box {
  display: block;
}
.table-list {
  table-layout: fixed;
}
.table thead th {
  border-bottom: 2px solid #0066b3;
}

.table td,
.table th {
  white-space: nowrap;
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}
.table th.point {
  color: #0066b3;
  background-color: #eff7fc;
}

.table.table-phone {
  display: none;
}
.table-input input,
.table-input textarea {
  width: 100%;
  height: 100%;
  border: 0;
  white-space: pre-wrap;
}
.table-input input:-ms-input-placeholder,
.table-input textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #b1afaf;
}

/* 알람 */
.alert-wrapper {
  color: #bf9010;
}

/* 파일 선택 */

.custom-file-label::after {
  content: "파일 선택";
}
.custom-file-label {
  cursor: pointer;
  border-radius: 0;
}

.input-group {
  width: 100%;
}

/* 사이드 맵 */
.scroll-moveBox {
  position: fixed;
  top: 50%;
  right: -34px;
  z-index: 100;
  transform: translate(-50%, -50%);
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05);
}
.scroll-moveBox ul {
  border-left: 1px solid #b1afaf;
  border-top: 1px solid #b1afaf;
  padding: 0;
  margin: 0;
}
.scroll-moveBox ul li {
  list-style: none;
  border-bottom: 1px solid #b1afaf;
  background-color: #fff;
}
.scroll-moveBox ul li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  padding: 8px;
  color: rgba(0, 0, 0, 0.5);
}
.scroll-moveBox ul li a:hover {
  color: #055089;
  text-decoration: none;
  background-color: #eff7fc;
}

.scroll-moveBox ul li svg {
  width: 25px;
  height: 25px;
  display: block;
  text-align: center;
  margin-bottom: 4px;
}
.completed {
  color: #239f9e;
}
.incomplete {
  color: #bf9010;
}
/* 모바일 버전 */
@media (max-width: 768px) {
  .table.table-phone {
    display: table;
  }
  .table.table-pc {
    display: none;
  }
  .input-group {
    width: 100%;
  }
  .navbar-nav .nav-link {
    padding: 20px 0;
  }

  /* 테이블 */
  .mobile-box {
    display: block;
  }
  .table-list {
    border-top: 2px solid #0066b3;
  }
  .table-list thead {
    display: none;
  }

  .table-list tbody tr td {
    text-align: left;
    width: 100%;
    display: -webkit-inline-box;
    margin-bottom: 2px;
    padding: 2px;
    border-top: none;
  }
  .table-list tbody tr {
    border-bottom: 1px solid #b1afaf;
  }
  .table-list tbody p {
    width: 300px;
  }
  .table-list tbody tr td:first-child,
  .table-list tbody tr th:first-child {
    padding-top: 15px;
  }
  .table-list tbody tr td:last-child,
  .table-list tbody tr th:last-child {
    padding-bottom: 15px;
  }
  .table-list tbody tr td:before {
    display: block;
    margin-right: 12px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    font-weight: 700;
    content: attr(data-label);
  }

  /* 사이드맵 */
  .scroll-moveBox {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    transform: none;
  }
  .scroll-moveBox ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .scroll-moveBox ul li {
    border-left: 1px solid #b1afaf;
  }
  /*  */
  .login-form img {
    display: none;
  }
  .input-form-backgroud {
    min-width: 100%;
  }
}
