<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 불법주차 리스트 화면 SQL문 -->
<mapper namespace="com.disabled.mapper.EventListMapper">

	<!-- 2025.11.26. mac 주소로 추수 고도화 예정 -->
	<!-- 검색조건에 따른 이벤트 리스트 -->
	<select id="getEventList" parameterType="map" resultType="map">
		SELECT ROW_NUMBER() OVER (ORDER BY A.ev_id DESC) AS rn
			, A.*
			, ev_dv_id as dv_id
			, CONCAT(A.ev_dv_addr,' ',A.ev_dv_name) AS dv_addr
		FROM tbl_event_data A
		<where>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND ( A.ev_car_num like CONCAT('%',#{searchKeyword},'%')
				OR A.ev_dv_addr like CONCAT('%',#{searchKeyword},'%')
				OR A.ev_dv_name like CONCAT('%',#{searchKeyword},'%'))
			</if>
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND A.ev_date BETWEEN #{startDate} AND #{endDate}	
			</if>
		</where>
        ORDER BY A.ev_id DESC
        LIMIT #{recordCountPerPage} 
        OFFSET #{firstIndex}
	</select>
	
	<!-- 2025.11.26. mac 주소로 추수 고도화 예정 -->
	<!-- 검색조건에 따른 페이징 기능을 위한 레코드 갯수 -->
	<select id="getTotalRecordCount" resultType="int">
		SELECT COUNT(*) 
		FROM tbl_event_data A
		<where>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND ( A.ev_car_num like CONCAT('%',#{searchKeyword},'%')
				OR A.ev_dv_addr like CONCAT('%',#{searchKeyword},'%')
				OR A.ev_dv_name like CONCAT('%',#{searchKeyword},'%'))
			</if>
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND A.ev_date BETWEEN #{startDate} AND #{endDate} 
			</if>
		</where>
	</select>
	
	<!-- 디바이스 테이블의 디바이스 ID값과 조인한 검색 조건에 따른 불법주차 리스트 -->
	<select id="getEventListJoinSerial" resultType="map">
		SELECT 
			ROW_NUMBER() OVER (ORDER BY A.ev_id DESC) AS rn
			, A.*
			, CONCAT(B.dv_addr,' ',B.dv_name) AS dv_addr
			, B.dv_id AS dv_id
		FROM tbl_event_data A
		RIGHT JOIN tbl_device B
		ON A.ev_serial_number = B.dv_serial_number
		<where>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND ( A.ev_car_num like CONCAT('%',#{searchKeyword},'%')
				OR B.dv_addr like CONCAT('%',#{searchKeyword},'%')
				OR B.dv_name like CONCAT('%',#{searchKeyword},'%'))
			</if>
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND A.ev_date BETWEEN #{startDate} AND #{endDate} 
			</if>
		</where>
        ORDER BY A.ev_id DESC
        LIMIT #{recordCountPerPage} 
        OFFSET #{firstIndex}
	</select>
	
	<!-- 디바이스 테이블의 디바이스 ID값과 조인한 검색 조건에 따른 불법주차 리스트의 수 -->
	<select id="getTotalRecordCountJoinSerial" resultType="int">
		SELECT COUNT(1)
		FROM tbl_event_data A
		RIGHT JOIN tbl_device B
		ON A.ev_serial_number = B.dv_serial_number
		<where>
			<if test="searchKeyword != null and searchKeyword != ''">
				AND ( A.ev_car_num like CONCAT('%',#{searchKeyword},'%')
				OR B.dv_addr like CONCAT('%',#{searchKeyword},'%')
				OR B.dv_name like CONCAT('%',#{searchKeyword},'%'))
			</if>
			<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
				AND A.ev_date BETWEEN #{startDate} AND #{endDate} 
			</if>
		</where>
	</select>
	
	
	<!-- 리스트 클릭시 이벤트 리스트 상세 정보 -->
	<select id="getEventListDetail"  parameterType="int" resultType="map">
		SELECT A.*
			, CONCAT(A.ev_dv_addr,A.ev_dv_name) AS dv_addr
		FROM tbl_event_data A
		WHERE 1=1
			AND A.ev_id = #{evId}
	</select>
	
	<select id="getDvIpByEvId" parameterType="int" resultType="java.lang.String">
		SELECT A.ev_dv_ip AS dvIp
		FROM tbl_event_data A
		WHERE 1=1
			AND A.ev_id = #{evId}
	</select>
	
	<update id="updateEvHasImgOne" parameterType="int">
		UPDATE tbl_event_data
		SET ev_has_img = 1
		WHERE ev_id = #{evId}
	</update>
	
	<update id="updateEvHasMovOne" parameterType="int">
		UPDATE tbl_event_data
		SET ev_has_mov = 1
		WHERE ev_id = #{evId} 
	</update>

</mapper>